body {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun';
  background: #1D1D1D;
  font-weight: 300;
  width: 270px;
}
.logo{
  display: block;
  margin: 20px auto;
  width: 40%;
}
.playlist-btn{
  max-width: 180px;
  width: 80%;
  margin: 25px auto;
  display: block;
}
.playlist-btn:hover{
  box-shadow: 0 0 20px #3e55d1;
}
.header-text{
  color: white;
  font-size: 14px;
  font-weight: 300;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
}
.header-highlight{
  display: block;
  text-align: center;
  background: #292929;
  padding: 10px;
  box-sizing: border-box;
}
.footer-link{
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fbfbfb;
  cursor: pointer;
}
.header-text a{
  color: white;
}
.playlist-btn-disabled{
  display: none;
}
.header-subreddits a {
  background: #292929;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 5px;
}
.header-subreddits a:hover {
  background: #ffffff29;
}
.footer-link:hover{
  color: #fbfbfb96;
}
